* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: 0 auto;


    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    overflow-x: hidden;
    font-size: 0;
}

img {
    width: 100%;
}

@media (min-width:415px) and (max-width:1024px) and (orientation:portrait) {
    img {
        width: 120%;
    }
}

.waterbreathing {
    display: inline;
    font-size: inherit;
    color: white;
    font-weight: bold;
    background-color: transparent;
    padding: 0;
}

.centerIt {
    display: block;
    text-align: center;
    font-size: 1.3em;
    /* color: #EDB958; */
    color: #EFC594;

    /* font-size: 30px; */
    font-weight: bold;
}

.intro {
    position: fixed;
    top: 30%;
    left: 10%;
    right: 15%;
    background-color: rgba(16, 139, 148, 0.637);
    font-size: 40px;
    padding: 2% 5%;
    color: white;

    -webkit-box-shadow: 10px -25px 43px -22px rgba(23, 37, 143, 1);
    -moz-box-shadow: 10px -25px 43px -22px rgba(23, 37, 143, 1);
    box-shadow: 20px 10px 73px -22px rgba(23, 37, 143, 1);
}

.introFirstLine {
    font-weight: bold;
}

.hideIntro {
    z-index: -1;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity .65s;

    -webkit-box-shadow: 0px -25px 43px -22px rgba(23, 37, 143, 1);
    -moz-box-shadow: 0px -25px 43px -22px rgba(23, 37, 143, 1);
    box-shadow: 0px -25px 43px -22px rgba(23, 37, 143, 1);
}

.showFoot {
    opacity: 1;


}

.navi {
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    display: flex;
    z-index: 1;
}

.naviList {
    display: flex;
    flex-grow: 1;
    list-style: none;
}

.listItem {
    /* flex-grow: 1; */
    flex-basis: 25%;
    border-right: 2px solid red;
}

.listItem:last-child {
    border-right: none
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.363);
    z-index: 2;

}

.modal.show {
    display: block;
}

.fa-angle-double-down {
    display: block;
    text-align: center;
    font-size: 140%;

    position: absolute;

    background-color: rgba(255, 255, 0, 0.459);
    border-radius: 50%;
    animation: animateArrowColors 3s infinite ease-out alternate;
}

@keyframes animateArrowColors {
    0% {
        color: white;
    }

    50% {
        color: rgba(16, 139, 148, 0.568);
    }

    100% {
        color: rgba(23, 37, 143, 1);
    }
}

a {
    display: flex;
    /* display: block; */
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 80px;
    padding: 30px 0;
}

/* turns off hover on mobile */
@media(hover: hover) {
    a:hover {
        color: rgba(255, 255, 0, 0.829);
    }
}

#aboutMe {
    display: none;
    position: fixed;
    top: 20vh;
    height: 70vh;
    left: 6vw;
    right: 6vw;
    padding: 40px 20px;
    background-color: rgba(69, 120, 187, 0.932);
    color: white;
    font-size: 40px;
    text-align: justify;
    letter-spacing: 1px;
    z-index: 3;
    cursor: default;
}

#aboutMe.show {
    display: block;

}


@media (max-width:823px) {
    a {
        font-size: 40px;
    }



    #aboutMe {
        padding: 16px 12px;
        font-size: 12px;
        top: 6vh;
        height: 88vh;
    }

}

@media (width:768px) and (height:1024px) {
    a {
        font-size: 40px;
    }



    #aboutMe {
        padding: 16px 12px;
        font-size: 24px;
        top: 6vh;
        height: 88vh;
    }

}

@media (min-width:1600px) {
    #aboutMe {
        left: 10%;
        right: 10%;
    }
}

@media (min-width:3000px) {
    img {
        width: 130%;
    }

    #aboutMe {
        font-size: 250%;
        width: 40%;
        left: 30%;
    }

    .intro {

        width: 35%;
    }

    .centerIt {
        font-size: 55px;
    }
}